@page
@model FinalProject.Pages.ProjectOverviewModel
@{
    ViewData["Title"] = "ProjectOverview";
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-page="/Index" class="navbar-brand">P & E</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-page="/Index">Home</a></li>
                <li><a asp-page="/Admin">Admin</a></li>
                <li><a asp-page="/Businesses/Index">Businesses</a></li>
                <li><a asp-page="/Contractors/Index">Contractors</a></li>
                <li><a asp-page="/ContractorAnalysis">Contractor Analysis</a></li>
                <li><a asp-page="/Projects/Index">Projects</a></li>
                <li><a asp-page="/ProjectOverview">Project Overview</a></li>
            </ul>
        </div>
    </div>
</nav>



<h2>Project Overview</h2>

<form action="" method="GET">

    <select name="sort">

        <option>Sort by</option>

        <option value="costs">Sort by Cost</option>

        <option value="budget">Sort by Budget</option>

    </select>

    <input type="submit" value="Go" />

</form>



<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].PlannedEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].ActualEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Budget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].RunningTotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].DepartmentName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Projects)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlannedEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Budget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RunningTotalCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
            </tr>
        }
    </tbody>
</table>

