@page
@model CoreCrud.Pages.AuctionModel
@{
    ViewData["Title"] = "Auction";
}

<h1>Auction Page</h1>

<hr>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Creation Date</th>
            <th>Weight</th>
            <th>Material</th>
            <th>Electronic</th>
            <th>Manufacturer Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var code in Model.Collectibles)
        {
            <tr>
                <td>@code.Name</td>
                <td>@code.CreationDate</td>
                <td>@code.Weight</td>
                <td>@code.Material</td>

                @if (code.Electronic)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
                 <td>@code.Manufacturer.ManufacturerName</td>
            </tr>
        }
    </tbody>
</table>
