@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Core Crud", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/Contact">Contact</a></li>
                <li><a href="/Manufacturers">Manufacturers</a></li>
                <li><a href="/Collectibles">Collectibles</a></li>
                <li><a href="/ManufacturerProfile">Manufacturer Profile</a></li>
                <li><a href="/Auction">Auction</a></li>
            </ul>
        </div>
    </div>
</div>
<h1>Tom's Toys</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/1/15/Little_horse_on_wheels_%28Ancient_greek_child%27s_Toy%29.jpg" alt="toy" height="200" width="200">
<div>
    <p>
        Welcome to Tom's Toys website. We have a list of different collectibles. <br> Each collectible will have different attributes.
        <br> Every collectible will have one Manufacturer but a Manufacturer will have multiple collectibles.

    </p>
</div>

<h2>Sample References</h2>
<p><a href="/ManufacturerProfile?id=1">Manufacturer Profile 1</a></p>
<p><a href="/ManufacturerProfile?id=2">Manufacturer Profile 2</a></p>

<h2>Quick Stats</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Number of Manufacturers</th>
            <th>Number of Collectibles</th>
            <th>Number of light items</th>
            <th>Number of heavy items</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.number_manu</td>
            <td>@Model.number_coll</td>
            <td>@Model.num_heavy</td>
            <td>@Model.num_light</td>
        </tr>
    </tbody>
</table>